<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tickets</title>
</head>
<body>
   <text style="font-family:verdana">Willkommen, {{cur_user}}!  </text>
   <a style="font-family:verdana" href= "logout">Logout</a>

<h1 style="font-family:verdana">Dashboard</h1>
<h2 style="font-family:verdana">Fahrten</h2>
<style>
    table, th, td { border: 1px solid black;  }
</style>
<table style="font-family:verdana">
    <tr>
        <th>Datum</th>
        <th>Uhrzeit</th>
        <th>Von</th>
        <th>Bis</th>
        <th>Preis</th>
    </tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
<h2 style="font-family:verdana">Aktionen</h2>
<a style="font-family:verdana" href= "add_action">Aktion hinzufügen</a>
<br>
<h3 style="font-family:verdana">alle Aktionen</h3>
<table style="font-family:verdana">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Von</th>
        <th>Bis</th>
        <th>Rabatt in %</th>
        <th>Bearbeiten</th>
   </tr>
    <tr>
    {% for row in campaigns %}
        <th>{{ row.action_id }}</th>
        <th>{{row.action_name }}</th>
        <th>{{row.action_start}}</th>
        <th>{{row.action_end}}</th>
        <th>{{row.action_discount}}</th>
        <th><form method="post" action="{{ url_for('delete', id=row.action_id) }}">
            <button type="delete">Löschen</button>
        </form>
            <br>
            <form method="post" action="{{ url_for('edit', id=row.action_id) }}">
            <button type="edit">ändern</button>
        </form></th>
        </tr>
 {% endfor %}
</table>

</body>
</html>