{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }} <!--CSRF (Cross Site Request Forgery) Token, protection against attacks-->
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            <!-- railway name -->
            <div class="form-group mb-4">
                {{ form.name.label(class="form-control-label") }}
                {% if form.name.errors %}  <!-- print all errors if there any -->
                    {{ form.name(class="form-control form-control-lg is is-invalid") }}
                    <div class=invalid-feedback">
                        {% for error in form.name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.name(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <!-- start station -->
            <div class="form-group mb-4">
                {{ form.starts_at.label(class="form-control-label") }}
                {% if form.starts_at.errors %}  <!-- print all errors if there any -->
                    {{ form.starts_at(class="form-control form-control-lg is is-invalid") }}
                    <div class=invalid-feedback">
                        {% for error in form.starts_at.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.starts_at(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <!-- end station -->
            <div class="form-group mb-4">
                {{ form.ends_at.label(class="form-control-label") }}
                {% if form.ends_at.errors %}
                    {{ form.ends_at(class="form-control form-control-lg is is-invalid")}}
                    <div class=invalid-feedback">
                    {% for error in form.ends_at.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                    </div>
                {% else %}
                    {{ form.ends_at(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="mt-8 form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock content %}
