{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }} <!--CSRF (Cross Site Request Forgery) Token, protection against attacks-->
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            <!-- sections -->
            <div class="form-group mb-4">
                {{ form.sections.label(class="form-control-label") }}
                {% if form.sections.errors %}  <!-- print all errors if there any -->
                    {{ form.sections(class="form-control form-control-lg is is-invalid") }}
                    <div class=invalid-feedback">
                        {% for error in form.sections.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.sections(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <!-- title -->
            <div class="form-group mb-4">
                {{ form.title.label(class="form-control-label") }}
                {% if form.title.errors %}
                    {{ form.title(class="form-control form-control-lg is is-invalid")}}
                    <div class=invalid-feedback">
                    {% for error in form.title.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                    </div>
                {% else %}
                    {{ form.title(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <!-- description -->
            <div class="form-group mb-4">
                {{ form.description.label(class="form-control-label") }}
                {% if form.description.errors %}
                    {{ form.description(class="form-control form-control-lg is is-invalid")}}
                    <div class=invalid-feedback">
                    {% for error in form.description.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                    </div>
                {% else %}
                    {{ form.description(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="mt-8 form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock content %}
