{% extends "layout.html" %}
{% block content %}
    <h1>Strecken</h1>
    {% for railway in railways %}
        <article class="media content-section">
            <div class="media-body">

                {% if railway.has_warning() %}
                    <h3><i class="bi bi-exclamation-diamond"></i><a class="article-title" href="{{ url_for('railway', railway_id=railway.id) }}"> {{ railway.name }}</a></h3>
                {% else %}
                    <h3><a class="article-title" href="{{ url_for('railway', railway_id=railway.id) }}">{{ railway.name }}</a></h3>
                {% endif %}

                {% if railway.get_start() is not none %}
                    <div>{{ railway.get_start() }} - {{ railway.get_end() }}</div>
                {% else %}
                    <div>Noch keine Abschnitte definiert.</div>
                {% endif %}
            </div>
        </article>
    {% endfor %}
{% endblock content %}
