{% extends "layout.html" %}
{% block content %}
<article class="media content-section">
    <div class="media-body">
        {% if current_user.is_authenticated and current_user.check_admin() %}
        <div class="article-metadata">
            <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1"
                   href="{{ url_for('update_railway', railway_id=railway.id) }}">Bearbeiten</a>
                <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">
                    Löschen
                </button>
            </div>
        </div>
        {% endif %}
        <h2 class="article-title">{{ railway.name }}</h2>

        {% if railway.has_warning() %}
            <p><b>Achtung - für diese Strecke bestehen folgende Warnungen:</b></p>
            {% for section in railway.sections %}
                {% if section.warnings|length > 0 %}
                    {% for warning in section.warnings %}
                        <p class="content-section" style="color:red;"> ({{ section.start_station.name }} - {{ section.end_station.name }}) [{{ warning.title }}] {{ warning.description }} </p>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endif %}

        {% if railway.get_start() is not none %}
            <p class="article-content">Start: {{ railway.get_start() }}</p>
            <p class="article-content">Ende: {{ railway.get_end() }}</p>
        {% else %}
            <div>Für diese Strecke wurden noch keine Abschnitte definiert.</div>
        {% endif %}

        {% for section in railway.sections %}
            {% if loop.first %}
                <p style="font-size:20px" class="article-content"><b>{{ section.start_station.name }}</b></p>
            {% else %}
                <p class="article-content">{{ section.start_station.name }}</p>
            {% endif %}
            {% if section.gauge == 1435 %}
                {% set displayed_gauge = "[NS]" %}
            {% else %}
                {% set displayed_gauge = "[SS]" %}
            {% endif %}

            {% if section.warnings|length != 0 %}
                <p class="article-content"><i class="bi bi-distribute-horizontal"></i> <i class="bi bi-exclamation-triangle" style="color:red;"> </i><a href="{{ url_for('section', section_id=section.id) }}"> Abschnitt: {{ section.id }} {{ displayed_gauge }} {{ section.max_speed }} km/h | Länge: {{ section.length|round(2)}} km</a></p>
            {% else %}
                <p class="article-content"><i class="bi bi-distribute-horizontal"></i><a href="{{ url_for('section', section_id=section.id) }}"> Abschnitt: {{ section.id }} {{ displayed_gauge }} {{ section.max_speed }} km/h | Länge: {{ section.length|round(2)}} km</a></p>
            {% endif %}

            {% if loop.last %}
                <p style="font-size:20px" class="article-content"><b>{{ section.end_station.name }}</b></p>
            {% endif %}
        {% endfor %}
    </div>
</article>
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Strecke löschen?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                <form action="{{ url_for('delete_railway', railway_id=railway.id) }}" method="POST">
                    <input class="btn btn-danger" type="submit" value="Löschen">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
