{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }} <!--CSRF (Cross Site Request Forgery) Token, protection against attacks-->
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            <!-- select railway -->
            <div class="form-group mb-4">
                {{ form.railway_id.label(class="form-control-label") }}
                {% if form.railway_id.errors %}  <!-- print all errors if there any -->
                    {{ form.railway_id(class="form-control form-control-lg is is-invalid") }}
                    <div class=invalid-feedback">
                        {% for error in form.railway_id.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.railway_id(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        <div class="mt-8 form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
        </fieldset>
    </form>
</div>
{% endblock content %}
