{% extends "layout.html" %}
{% block content %}
    <h1>Abschnitte</h1>
    {% for section in sections %}
        <article class="media content-section">
            <div class="media-body">
                <!--<h2><a class="article-title" href="{{ url_for('section', section_id=section.id) }}">{{ section.id }}</a><span style="font-size: 25px;">{{ section.start_station.name }} - {{ section.end_station.name }}</span></h2>
                -->
                <h4>
                    <a class="article-title" href="{{ url_for('section', section_id=section.id) }}">
                       [{{ section.id }}] {{ section.start_station.name }} - {{ section.end_station.name }}
                    </a>
                </h4>
                    <div>
                        {{ section.gauge }} mm /
                        {% if section.gauge == 1435 %}
                            Normalspur
                        {% else %}
                            Schmalspur
                        {% endif %}
                    </div>
            </div>
        </article>
    {% endfor %}
{% endblock content %}
